html {
  font-size: 18px;
}
/* suggested to add by cohort; figure out what this does
body, html {
 box-sizing: border-box;
}
:before, *:after {
 box-sizing: inherit;
}*/
* {
  font-family: "Helvetica";
  color: white;
  font-size: 18px;
}
.header {
  background-color: black;
  font-size: 1rem;
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;
}
.header img {
  height: 1.5rem;
  width: 2rem;
  padding-right: 1rem;
  margin-left: 100px;
}
.banner {
  background-image: url("../images/moto.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 25rem;
  width: auto;
  display: flex;
}
.arrival {
  background-color: black;
  width: 22rem;
  height: 7rem;
  margin-left:100px;
  margin-top: 9rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-right: 3rem;
}
.arrival .h2 {
  font-size: 1rem;
  font-weight: bold;
  padding-left: 3rem;
}
.arrival .h1 {
  font-size: 2rem;
  font-weight: bold;
  padding-left: 3rem;
  padding-top: 0.25rem;
}
.nav-section {
  background-color: firebrick;
  display: flex;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  justify-content: space-around;
}
.nav-section a {
  padding-left: 5rem;
  padding-right: 5rem;
}
/* added from Solution; hidden until sized for mobile display */
.mobile-nav {
  display: none;
}
/*troubleshooting tip
.box{
 border: 2px hotpink solid;
}
*/
.products {
  display: flex;
  height: 30rem;
  justify-content: space-around;
  }

.photos {
  border: 4px solid black;
  margin: 6.25rem 1.5rem;
  justify-content: center;
  /*  adding img to this group fixes images but captions don't work with it*/
}
.photos img {
  width: 9rem;
  height: 15rem;
  /*this targets the width and makes the glasses the same as the other pics; they still look squished though; couldn't figure this one out  */
}
.photos h3 {
  background-color: black;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 0;
  text-align: center;
}
.contacts {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.contacts  .heading {
  background-color: black;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: center;
}
.hours .location {
  width: 35%;
  text-align: center;
}
.contacts .info {
  color: black;
  margin-bottom: 2rem;
}
.footer {
  background-color: black;
  height: 5rem;
  display: flex;
  align-items: center;
}
.footer h2 {
  padding-left: 100px;
}
@media only screen and (max-width: 1024px){
  .arrival  {
    margin-left: 0;
    }
  .arrival  {
    margin-left: 0;
    }
  .nav-section a {
    display: none;
    }
  .products {
    width: 47%;
    }
  /* can't figure out how to remove photo borders*/
  .products .photos .glasses {
    display: none;
    }
  }
@media only screen and (max-width: 470px) {
  .header {
  }
  .header  img {
    align: center;
  }
  .banner {
    align-items: flex-end;
    height: 15rem;
  }
  .arrival {
    width: 100%;
    margin-top: 10rem;
    margin-bottom: 0;
    height: 5rem;
    padding-bottom: 0;
  }
  .arrival .h2{
    font-size: 0.77rem;
    padding-left: 2rem;
  }
  .arrival .h1 {
    font-size: 1rem;
    padding-left: 2rem;
  }
  /* from Solution */
  .mobile-nav {
   display: block;
   text-align: center;
  }/* end */
  .photos {
    margin: 6.25rem 0.5rem;
  }
  /* can't figure out how to remove photo borders*/
   .products .photos .watch{
    display: none;
  }
  .products {
    width: 90%;
  }
  .contacts {
    flex-direction: column;
    width: 90%;
    margin-top: 1rem;
   }
  .contacts  .heading {
    text-align: left;
    padding-right: 15rem;
    align-items: flex-start;
    }
  .footer h2 {
    align-items: center;
   }
}
