html {
  font-size: 18px;
}

* {
  font-family: Helvetica;
  color: white;
  font-size: 18px;
}

.header {
  background-color: black;
  font-size: 1rem;
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;
}

.header img {
  height: 1.5rem;
  padding-right: 1rem;
  margin-left: 100px;
}

.banner {
  background-image: url("../images/moto.jpeg");
  height: 25rem;
  width: auto;
  display: flex;
}

.arrival {
  background-color: black;
  /* width: 20rem; */
  width: 22rem;
  height: 7rem;
  margin-left:100px;
  margin-top: 9rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-right: 3rem;
}

 .arrival .h2 {
   font-size: 1rem;
   font-weight: bold;
   /* padding-bottom: 0.25rem; */
   padding-left: 3rem;
}

.arrival .h1 {
  font-size: 2rem;
  font-weight: bold;
  padding-left: 3rem;
  padding-top: 0.25rem;
}

.nav-section {
  background-color: firebrick;
  display: flex;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  justify-content: space-around;


}

.nav-section a{
  padding-left: 5rem;
  padding-right: 5rem;


}

.products {
  display: flex;

}
figcaption{
  background-color: black;
}
.contact-head {

}
.contact-info {

}
.footer {

}
